<h1>Overview</h1>
<h2><a href="apache_access">apache.access</a></h2>
<%= render "apache_access/table", :@logs => @apache_access_logs %>

<h2><a href="mysql_slow">mysql.slow</a></h2>
<%= render "mysql_slow/table", :@logs => @mysql_slow_logs %>
