<h1>Overview</h1>
<h2><a href="apache_access">apache.access</a></h2>
<%= render "layouts/graphs", :graphs => @apache_access_graphs %>

<h2><a href="rails_production">rails.production</a></h2>
<%= render "layouts/graphs", :graphs => @rails_production_graphs %>

<h2><a href="mysql_slow">mysql.slow</a></h2>
<%= render "layouts/graphs", :graphs => @mysql_slow_graphs %>

<h2><a href="maillog">maillog</a></h2>
<%= render "layouts/graphs", :graphs => @maillog_graphs %>
