development:
  sessions:
    default:
      hosts:
        - localhost:27017
      database: log
      username: 
      password: 
test:
  sessions:
    default:
      hosts:
        - localhost:27017
      database: log-test 
      username: 
      password: 
