@import "bootstrap";
@import "bootstrap/theme";
@import "bootstrap-datetimepicker.min";
@import "shCore";
@import "shThemeDefault";

td {
  word-break: break-all;
}

body .syntaxhighlighter .line {
  white-space: pre-wrap !important; /* make code wrap */
}


.table-double-striped > tbody > tr:nth-child(4n) > td,
.table-double-striped > tbody > tr:nth-child(4n) > th,
.table-double-striped > tbody > tr:nth-child(4n-1) > td,
.table-double-striped > tbody > tr:nth-child(4n-1) > th {
    background-color: #f9f9f9;
}

.form-group > .form-control {
  width: 100%;
} 
