<div class="form-group">
  <%= text_field_tag :date, params[:date] || Date.today.strftime("%Y/%m/%d"), :id => "date_picker", :class => "form-control" %>
  <script type="text/javascript">
    $(function () {
      $('#date_picker').datetimepicker({
        language: "ja",
        pickTime: false
      });
    });
  </script>
</div>
