<div id="startdate" class="input-append date">
  <%= text_field_tag :start, (params[:start])? params[:start]: (DateTime.now - 1.month).strftime("%Y/%m/%d %H:%M:%S") %>
  <span class="add-on">
    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
  </span>
</div>
~
<div id="enddate" class="input-append date">
  <%= text_field_tag :end, (params[:end])? params[:end]: DateTime.now.strftime("%Y/%m/%d %H:%M:%S") %>
  <span class="add-on">
    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
  </span>
</div>
<script type="text/javascript">
  $(function() {
    $('#startdate').datetimepicker({
      format: 'yyyy/MM/dd hh:mm:ss',
      language: 'ja'
    });
    $('#enddate').datetimepicker({
      format: 'yyyy/MM/dd hh:mm:ss',
      language: 'ja'
    });
  });
</script>
