<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Clio</a>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="/apache_access">apache.access</a></li>
    <li><a href="/mysql_slow">mysql.slow</a></li>
    <li><a href="/maillog">maillog</a></li>
  </ul>
</nav>
