<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Clio</a>
      <div class="container nav-collapse">
        <ul class="nav">
          <li><a href="/apache_access">apache.access</a></li>
          <li><a href="/mysql_slow">mysql.slow</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
