<div class="form-group">
  <%= select_tag :time, options_for_select([["0 ~ 1時", "0"],
                                            ["1 ~ 2時", "1"], 
                                            ["2 ~ 3時", "2"],
                                            ["3 ~ 4時", "3"], 
                                            ["4 ~ 5時", "4"], 
                                            ["5 ~ 6時", "5"], 
                                            ["6 ~ 7時", "6"], 
                                            ["7 ~ 8時", "7"], 
                                            ["8 ~ 9時", "8"], 
                                            ["9 ~ 10時", "9"], 
                                            ["10 ~ 11時", "10"], 
                                            ["11 ~ 12時", "11"], 
                                            ["12 ~ 13時", "12"], 
                                            ["13 ~ 14時", "13"], 
                                            ["14 ~ 15時", "14"], 
                                            ["15 ~ 16時", "15"], 
                                            ["16 ~ 17時", "16"], 
                                            ["17 ~ 18時", "17"], 
                                            ["18 ~ 19時", "18"], 
                                            ["19 ~ 20時", "19"], 
                                            ["20 ~ 21時", "20"], 
                                            ["21 ~ 22時", "21"], 
                                            ["22 ~ 23時", "22"], 
                                            ["23 ~ 24時", "23"]], params[:time] || ""), :class => "form-control" %>
</div>
